@model FontsGeolabEduGe.Models.MultiplePV



    <div id="header" class="section-div">
        <div class="container">
            <nav class="navbar navbar-toggleable-md navbar-light">
                <a class="navbar-brand" href="/Home/Index">
                    <img src="~/Images/logo-svg.svg" height="75" class="d-inline-block align-top">
                    <div id="nav-logo-text">
                        ჯეოლაბის<br> ფონტ-ინჟინერიის კურსის<br> ნამუშევრები
                    </div>
                    <div class="clear"></div>
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#history">პროექტის შესახებ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#fonts-div">ფონტ-ფაილები</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#authors-div">ავტორები</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#contact-div">კონტაქტი</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div id="jumbotrone-div" class="section-div">
        <div class="container">
            <div class="jumbotron jumbotron-fluid">
                <div class="header-padding">
                    <h1 class="display-3 col-10 no-padding">
                        საიტზე წარმოდგენილია<br> ქართულ წიგნებსა და სტამბებში შემორჩენილი <span>შრიფტების</span> აღდგენილი და გაციფრულებული ვერსიები.
                    </h1>

                </div>
            </div>
        </div>
    </div>

    <div id="letter-img">

        <div id="history" class="section-div">
            <div class="container">
                <div class="title">ისტორია</div>
                <div class="subtitle">როგორ დაიბადა და განხორციელდა იდეა</div>
                <div id="history-text" class="row">
                    <div class="text col-md-6 offset-md-3 col-xs-12">
                        ამ გვერდზე წარმოდგენილი ფონტები შექმნილია GeoLab-ის „შრიფტის დიზაინის საფუძვლებისა და ფონტ-ინჟინერიის“ კურსის ფარგლებში. 2016 წელს აღნიშნული კურსი კამპანიის #წერექართულად და ჯეოლაბის ხელშეწყობით ჩატარდა.
                        კურსის ფარგლებში აღდგა და გაციფრულდა, ძველ ქართულ წიგნებსა და დოკუმენტებში არსებული არაერთი ქართული შრიფტი. 20-მდე დიზაინერი და მათი მენტორები დიდი ხნის განმავლობაში მუშაობდნენ ამ პროექტის განსახორციელებლად. შედეგად ნებისმიერ მსურველს საშუალება აქვს, აღნიშნული ფონტ-ფაილები ჩამოტვირთოს და სურვილისამებრ გამოიყენოს.

                    </div>
                    @*<div class="text col-12 col-lg-6 hidden-md-down">
                        <p>გაიტეხ მეხი მინდვრებს გროშის გარმიანელი ხედი. ქარუხნიშვილი იდუმალად ნაქმრევის გარმიანელი პავლეს მოუსვენარი მიუხვედ- რელობა წაიდუდუნა, შეჰფერით ნიშნად საავტოროს იცემდა შენ- ისასა დაისჯებითო შეიძლებოდა. გროშის ჰხდება სოფლელნი წაუთაქებდა, მოსამსახურეების კვებავს მოიკაკვებოდა განდეგილმა ვითომც მძღოლმა ჰოს აუგეს. ავტომობილით მოგვაყენებ მოსამსა- ხურეების შეჰფერით მარდად კერასთან ბრეჟნევისთვის, ატაროს სიკვდილიც. სოფლელნი იცემდა დახსომებოდა ბანაობის რობოტი უდგამდნენ. დახსომებოდა ფრანგებსაც შეიძლებოდა ხელმარჯვემ გარმიანელი ილაი. იცემდა ბრეჟნევისთვის შედიოდნენ მეჯლისზე ნაქმრევის აგარაკად, განდეგილმა უდგამდნენ ნამუსს საშუალება. მინდვრებს ნაქმრევის მოსწონს ეკითხოს ოდრიზე, პროფტექნი- კურის ქარუხნიშვილი, შეგვიშლის ნიშნად საშუალება შენისასა.</p>
                    </div>
                    <div class="clear"></div>
                    <button class="btn btn-link align-self-center col show-content"><img src="~/Images/dots.png" width=27px;></button>*@
                </div>
            </div>
        </div>

        <div id="fonts-div" class="section-div">
            <div class="container">
                <div class="title">შრიფტები</div>
                <div class="subtitle"><p>გადმოსაწერად <span class="sub-hide">დააჭირეთ მარჯვენა მხარეს მოთავსებულ ღილაკს</span><span class="sub-show">ესტუმრეთ დესკტოპ ვერსიას</span></p></div>
                <div id="fonts-menu" class="hidden-md-down">
                    <form action="FontsFilter" method="get" class="form-inline">
                        <label class="custom-control custom-radio">
                            @Html.RadioButton("type", "სერიფ შრიფტები", new { @id = "serif", @class = "custom-control-input" })
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">სერიფ შრიფტები</span>
                        </label>
                        <label class="custom-control custom-radio">
                            @Html.RadioButton("type", "სანს-სერიფ შრიფტები", new { @id = "sans", @class = "custom-control-input" })    
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">სანს-სერიფ შრიფტები</span>
                        </label>
                        <section class="filter" style="min-width:30.83%;">
                            @Html.DropDownList("writing", new SelectList(ViewBag.writing, "ID", "writing1", ViewBag.selectedWriting), new { @class = "cs-select cs-skin-elastic" })
                        </section>
                        <section class="filter" style="min-width:22.71%;">
                            @Html.DropDownList("createDateRange", new SelectList(ViewBag.createDateRange, "ID", "CreateDateRange1", ViewBag.selectedCreateDateRange), new { @class = "cs-select cs-skin-elastic" })
                        </section>
                        <button style="visibility:hidden; width:0; height:0; padding:0; border:none; position:fixed; top:0; left:0;">
                            @Ajax.ActionLink("ძებნა", "Filter", "Home",
                                new { createDateRange = "0", writing = "0", type = "0" },
                                new AjaxOptions()
                                {
                                    HttpMethod = "get",
                                    UpdateTargetId = "fonts",
                                    InsertionMode = InsertionMode.Replace
                                },
                                new
                                {
                                    @id = "search"
                                })
                        </button>
                    </form>
                </div>

                

                
                <div id="fonts">
                    <div class="fonts-div">
                        @foreach (var item in Model.Fonts)
                        {
                            string date = "";
                            if(item.CreateDate != null)
                            {
                                date = "(" + item.CreateDate + ")";
                            }


                            var fontId = item.ID;
                            var engineerId = item.Font_Engineer.Where(x => x.FontID == fontId).FirstOrDefault().EngineerID;
                            var engineer = item.Font_Engineer.Where(x => x.Engineer.ID == engineerId).FirstOrDefault().Engineer.EngineerName;
                            var designerId = item.Font_Design.Where(x => x.FontID == fontId).FirstOrDefault().DesignerID;
                            var designer = item.Font_Design.Where(x => x.Designer.ID == designerId).FirstOrDefault().Designer.DesignerName;

                            <div class="font">
                                <div class="row">
                                    <div class="font-opts col-md-2 hidden-md-down">
                                        <div class="font-name">
                                            <svg width="300" height="200">
                                                <polygon points="20,0 170,0 170,30 20,30"
                                                         style="fill:#633085;fill-rule:evenodd;" />
                                                <text fill="#ffffff" font-size="12" x="30" y="19" font-family="DejaVuSans">@item.FontNamePre @item.FontName</text>
                                            </svg>
                                        </div>
                                        <div class="font-weight-div">
                                            <p>შტრიხის სისქე</p>
                                            <input class="weight" type="range" min="100" max="900" step="100" value="200" data-orientation="vertical" data-toggle="tooltip" title="200">
                                        </div>
                                        <div class="font-size-div">
                                            <p>ზომის შეცვლა</p>
                                            <input class="size" type="range" min="16" max="65" step="1" value="60" data-orientation="vertical" data-toggle="tooltip" title="60 px">
                                        </div>
                                    </div>
                                    <div class="font-example clo-md-12 col-lg-10">
                                        <div class="row mgr0">
                                            <div class="hidden-font-name col-md-3 align-self-center col-4 offset-4">
                                                <p>@item.FontNamePre @item.FontName</p>
                                            </div>
                                            <div class="font-text col-md-12 col-lg-10">
                                                <p style="font-family:@item.FontNamePre @item.FontName;">შრიფტის მაგალითი</p>
                                            </div>
                                            <div class="download-btn col-1 hidden-md-down">
                                                <a href="~/font_download/@item.FontName.@item.Ext" download>
                                     <img class="btn-grey" src="~/Images/download-grey.png" alt="download button">
                                                    <img class="btn-white" src="~/Images/download-white.png" alt="download button">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="font-author hidden-md-down">
                                            <p>ორიგინალი დიზაინი: @designer @date<br> განახლება: @engineer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        
                        <button class="btn btn-link show-more">
                            @Ajax.ActionLink(" ", "FontsAll", "Home", new AjaxOptions()
                           {
                               HttpMethod = "get",
                               UpdateTargetId = "fonts",
                               InsertionMode = InsertionMode.Replace
                           }, new
                           {
                               @class = "col show-content"
                           })
                        </button>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="authors-div" class="section-div">
        <div class="container">
            <div class="title">დიზაინერები</div>
            <div class="subtitle">და ფონტ-ინჟინრები<span class="sub-hide">, ვინც აღნიშნულ პროექტზე იმუშავეს</span></div>
            <div id="designers">
               
                <div id="designer-list">
                    @foreach (var item in Model.Engineers)
                    {
                        <div class="designer col-lg-3 col-md-4 col-sm-6 col-6" style="float:left;">
                            <div class="designer-img" style="background-image:url('../../Images/EngineerImages/@item.EngineerPhoto.@item.Ext')"></div>
                            <div class="designer-id">
                                <p class="name">@item.EngineerName</p>
                                <p class="prof">დიზაინერი</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                    }
                    <div class="clear"></div>

                    
                </div>
                <button class="btn btn-link show-more">
                    @Ajax.ActionLink(" ", "EngineersAll", "Home", new AjaxOptions()
                       {
                           HttpMethod = "get",
                           UpdateTargetId = "designers",
                           InsertionMode = InsertionMode.Replace
                       }, new
                       {
                           @class = "col show-content"
                       })
                </button>
            </div>

        </div>
        <div class="container">
            <div id="mentors">
                <div class="title">ხელმძღვანელები</div>
                <div class="subtitle"><span class="sub-hide">რომლებიც პროექტის ფარგლებში დიზაინერებს მიმართლებას აძლევდნენ</span><span class="sub-show">იგივე მენტორები</span></div>
               
                <div id="mentors-div" style="padding-top:60px;">
                    <div id="mentor-list">

                        

                        @foreach (var item in Model.Mentors)
                        {
                            <div class="mentor col-6 col-sm-4 col-md-3 collg">
                                <div class="mentor-img" style="background-image:url('../../Images/MentorImages/@item.MentorPhoto.@item.Ext')"></div>
                                <div class="mentor-id">
                                    <p class="name">@item.MentorName</p>
                                    <p class="prof">დიზაინერი</p>
                                </div>
                                <div class="clear"></div>
                            </div>
                        }
                        <div class="clear"></div>
                    </div>
                </div>
                <button class="btn btn-link show-more">
                    @Ajax.ActionLink(" ", "MentorsAll", "Home", new AjaxOptions()
                   {
                       HttpMethod = "get",
                       UpdateTargetId = "mentors-div",
                       InsertionMode = InsertionMode.Replace
                   }, new
                   {
                       @class = "col show-content hidden-lg-up"
                   })
                </button>

            </div>
        </div>
    </div>

    <div id="contact-div">
        <div class="container">
            <div class="title">კონტაქტი</div>
            <div class="subtitle">დაგვიკავშირდით<span class="sub-hide">, ჩვენ გვიხარია ყოველი ახალი მეილი</span></div>
            <div id="contact-info" class="row">
                <div class="text col-12 col-lg-6">
                    <p>საიტზე განთავსებული შრიფტები ვრცელდება სატესტო რეჟიმში, რაც იმას ნიშნავს რომ შეიძლება არსებობდეს ხარვეზები მათი სხვადასხვა გრაფიკულ თუ საოფისე აპლიკაციაში გამოსახვისას. აღნიშნული ხარვაზები შეიძლება მოიცავდე კერნინგის ან ასოთა შორის არსებული სივრცეების დარღვევას, ასევე გარკვეული სიმბოლოების ფონტ-ფაილში არარსებობას და ა.შ. ჯეოლაბის გუნდი თხოვთ შეგვატყობინოთ ნებისმიერი ხარვეზის შესახებ რათა აღმოვფხვრათ ის და განვანახლოთ ფაილები. </p>
                </div>
                <div class="contact-info col-12 col-lg-6">
                    <table>
                        <tr>
                            <td class="bold">მისამართი:</td>
                            <td>მერაბ ალექსიძის ქ. 10, </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>0160 თბილისი, საქართველო</td>
                        </tr>
                        <tr>
                            <td> &nbsp;</td>
                            <td> &nbsp;</td>
                        </tr>
                        <tr>
                            <td class="bold">ტელეფონი:</td>
                            <td>577 67 04 04</td>
                        </tr>
                        <tr>
                            <td class="bold">ელ-ფოსტა:</td>
                            <td>info@geolab.edu.ge</td>
                        </tr>
                        <tr>
                            <td>&nbsp; </td>
                            <td>&nbsp; </td>
                        </tr>
                        <tr>
                            <td class="bold">Facebook:</td>
                            <td>fb.com/GeoLabEdu</td>
                        </tr>
                        <tr>
                            <td class="bold">YouTube:</td>
                            <td>youtu.be/GeoLab • ჯეოლაბი</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="container">
            <a href="http://geolab.edu.ge/" class="no-margin">&copy 2017 ჯეოლაბი</a>
        </div>
    </div>






